.row {
	margin:auto;
	text-align:center;
	color:white;
}

#first {
	background:red;
}
#second {
	background:orange;
}
#third {
	background:black;
}
#fourth {
	background:green;
}
#fifth, #fiftha{
	background:blue;
}
#sixth {
	background:purple;
}





